airports==0.1.0
askpass==1.1
assertthat==0.2.1
backports==1.4.1
base==4.2.1
base64enc==0.1-3
BH==1.81.0-1
bibtex==0.5.1
bit==4.0.5
bit64==4.0.5
bizdays==1.0.13
blob==1.2.4
boot==1.3-28
brew==1.0-8
brio==1.1.3
broom==1.0.4
bslib==0.4.2
cachem==1.0.7
callr==3.7.3
cellranger==1.1.0
cherryblossom==0.1.0
class==7.3-20
classInt==0.4-9
cli==3.6.1
clipr==0.8.0
cluster==2.1.3
codetools==0.2-18
colorspace==2.1-0
commonmark==1.9.0
compiler==4.2.1
conflicted==1.2.0
countrycode==1.4.0
cpp11==0.4.3
crayon==1.5.2
credentials==1.3.2
crosstalk==1.2.0
curl==5.0.0
data.table==1.14.8
DataCombine==0.2.21
DataEditR==0.1.5
datasets==4.2.1
DBI==1.1.3
dbplyr==2.3.2
desc==1.4.2
devtools==2.4.5
diffobj==0.3.5
digest==0.6.31
downlit==0.4.2
dplyr==1.1.1
DT==0.27
dtplyr==1.3.1
e1071==1.7-13
ellipsis==0.3.2
eurostat==3.8.2
evaluate==0.20
fansi==1.0.4
FAOSTAT==2.3.0
farver==2.1.1
fastmap==1.1.1
flexdashboard==0.6.1
FNN==1.1.3.2
fontawesome==0.5.0
forcats==1.0.0
forecast==8.21
foreign==0.8-82
fracdiff==1.5-2
fs==1.6.1
gargle==1.3.0
generics==0.1.3
gert==1.9.2
ggplot2==3.4.2
ggvis==0.4.8
gh==1.4.0
gitcreds==0.1.2
glue==1.6.2
googledrive==2.1.0
googlesheets4==1.1.0
graphics==4.2.1
grDevices==4.2.1
grid==4.2.1
gridExtra==2.3
gtable==0.3.3
haven==2.5.2
here==1.0.1
highcharter==0.9.4
highr==0.10
hms==1.1.3
htmltools==0.5.5
htmlwidgets==1.6.2
httpuv==1.6.9
httr==1.4.5
httr2==0.2.2
ids==1.0.1
igraph==1.4.1
imfr==0.1.9
ini==0.3.1
isoband==0.2.7
ISOweek==0.6-2
janitor==2.2.0
jquerylib==0.1.4
jsonlite==1.8.4
kableExtra==1.3.4
kernlab==0.9-32
KernSmooth==2.23-20
knitr==1.42
ks==1.14.0
labeling==0.4.2
later==1.3.0
lattice==0.20-45
lazyeval==0.2.2
lifecycle==1.0.3
lmtest==0.9-40
lubridate==1.9.2
magrittr==2.0.3
maps==3.4.1
markdown==1.6
MASS==7.3-57
Matrix==1.4-1
mclust==6.0.0
memoise==2.0.1
methods==4.2.1
mgcv==1.8-40
mime==0.12
miniUI==0.1.1.1
misc3d==0.9-1
modelr==0.1.11
multicool==0.1-12
munsell==0.5.0
mvtnorm==1.1-3
nlme==3.1-157
NLP==0.2-1
nnet==7.3-17
odbc==1.3.4
openintro==2.4.0
openssl==2.0.6
openxlsx==4.2.5.2
orca==1.1-1
pak==0.4.0
parallel==4.2.1
pdftools==3.3.3
pillar==1.9.0
pkgbuild==1.4.0
pkgconfig==2.0.3
pkgdown==2.0.7
pkgload==1.3.2
plot3D==1.4
plotly==4.10.1
plyr==1.8.8
pracma==2.4.2
praise==1.0.0
prettyunits==1.1.1
processx==3.8.0
profvis==0.3.7
progress==1.2.2
promises==1.2.0.1
proxy==0.4-27
ps==1.7.4
purrr==1.0.1
qpdf==1.3.2
quadprog==1.5-8
quantmod==0.4.22
R6==2.5.1
ragg==1.2.5
rappdirs==0.3.3
rccmisc==0.3.7
rcmdcheck==1.4.0
RColorBrewer==1.1-3
Rcpp==1.0.10
RcppArmadillo==0.12.2.0.0
readr==2.1.4
readxl==1.4.2
RefManageR==1.4.0
regions==0.1.8
rematch==1.0.1
rematch2==2.1.2
remotes==2.4.2
reprex==2.0.2
reshape2==1.4.4
rhandsontable==0.3.8
rJava==1.0-6
rjson==0.2.21
RJSONIO==1.3-1.8
rlang==1.1.0
rlist==0.4.6.2
rmarkdown==2.21.3
RODBC==1.3-20
roxygen2==7.2.3
rpart==4.1.16
rpivotTable==0.3.0
rprojroot==2.0.3
rstudioapi==0.14
rversions==2.1.2
rvest==1.0.3
sass==0.4.5
scales==1.2.1
selectr==0.4-2
sessioninfo==1.2.2
shades==1.4.0
shiny==1.7.4
shinyBS==0.61.1
shinyjs==2.1.0
slam==0.1-50
sm==2.2-5.7.1
snakecase==0.11.0
sourcetools==0.1.7-1
spatial==7.3-15
splines==4.2.1
stargazer==5.2.3
stats==4.2.1
stats4==4.2.1
stringi==1.7.12
stringr==1.5.0
survival==3.3-1
svglite==2.1.1
sys==3.4.1
systemfonts==1.0.4
tcltk==4.2.1
testthat==3.1.7
textshaping==0.3.6
tibble==3.2.1
tidyr==1.3.0
tidyselect==1.2.0
tidyverse==2.0.0
timechange==0.2.0
timeDate==4022.108
tinytex==0.45
tm==0.7-11
tools==4.2.1
translations==4.2.1
tseries==0.10-53
TTR==0.24.3
tzdb==0.3.0
urca==1.3-3
urlchecker==1.0.1
usdata==0.2.0
usethis==2.1.6
utf8==1.2.3
utils==4.2.1
uuid==1.1-0
vctrs==0.6.1
viridisLite==0.4.1
vroom==1.6.1
waldo==0.4.0
wbstats==1.0.4
webshot==0.5.4
whisker==0.4.1
WHO==0.2.1
withr==2.5.0
xfun==0.38
xlsx==0.6.5
xlsxjars==0.6.1
XML==3.99-0.14
xml2==1.3.3
xopen==1.0.0
xtable==1.8-4
xts==0.13.0
yaml==2.3.7
zip==2.3.0
zoo==1.8-11
