assertthat==0.2.1
backports==1.4.1
base==4.2.2
base64enc==0.1-3
bit64==4.0.5
blob==1.2.3
boot==1.3-28
broom==1.0.1
bslib==0.4.1
cachem==1.0.6
callr==3.7.3
cellranger==1.1.0
cherryblossom==0.1.0
class==7.3-20
cli==3.4.1
clipr==0.8.0
cluster==2.1.4
codetools==0.2-18
colorspace==2.0-3
commonmark==1.8.1
compiler==4.2.2
cpp11==0.4.3
crayon==1.5.2
crosstalk==1.2.0
curl==4.3.3
data.table==1.14.4
DataCombine==0.2.21
DataEditR==0.1.5
datasets==4.2.2
DBI==1.1.3
dbplyr==2.2.1
digest==0.6.30
dplyr==1.0.10
DT==0.26
dtplyr==1.2.2
ellipsis==0.3.2
evaluate==0.18
fansi==1.0.3
farver==2.1.1
fastmap==1.1.0
flexdashboard==0.6.0
FNN==1.1.3.1
fontawesome==0.4.0
forcats==0.5.2
forecast==8.18
foreign==0.8-83
fracdiff==1.5-2
fs==1.5.2
gargle==1.2.1
generics==0.1.3
ggplot2==3.4.0
ggvis==0.4.7
glue==1.6.2
googledrive==2.0.0
googlesheets4==1.0.1
graphics==4.2.2
grDevices==4.2.2
grid==4.2.2
gtable==0.3.1
haven==2.5.1
highcharter==0.9.4
highr==0.9
hms==1.1.2
htmltools==0.5.3
htmlwidgets==1.5.4
httpuv==1.6.6
httr==1.4.4
ids==1.0.1
igraph==1.3.5
isoband==0.2.6
jquerylib==0.1.4
jsonlite==1.8.3
kernlab==0.9-31
KernSmooth==2.23-20
knitr==1.41
ks==1.14.0
labeling==0.4.2
later==1.3.0
lattice==0.20-45
lazyeval==0.2.2
lifecycle==1.0.3
lmtest==0.9-40
lubridate==1.9.0
magrittr==2.0.3
markdown==1.4
MASS==7.3-58.1
Matrix==1.5-1
mclust==6.0.0
memoise==2.0.1
methods==4.2.2
mgcv==1.8-41
mime==0.12
miniUI==0.1.1.1
misc3d==0.9-1
modelr==0.1.10
multicool==0.1-12
munsell==0.5.0
mvtnorm==1.1-3
nnet==7.3-18
openssl==2.0.4
parallel==4.2.2
pkgconfig==2.0.3
plotly==4.10.1
pracma==2.4.2
processx==3.8.0
promises==1.2.0.1
purrr==0.3.5
quantmod==0.4.20
rappdirs==0.3.3
RColorBrewer==1.1-3
RcppArmadillo==0.11.4.2.1
readxl==1.4.1
rematch2==2.1.2
reshape2==1.4.4
rJava==1.0-6
rlang==1.0.6
rmarkdown==2.18
rpivotTable==0.3.0
rvest==1.0.3
scales==1.2.1
shades==1.4.0
shinyBS==0.61.1
sm==2.2-5.7.1
spatial==7.3-15
stats==4.2.2
stringi==1.7.8
survival==3.4-0
tcltk==4.2.2
tidyr==1.2.1
tidyverse==1.3.2
timeDate==4021.106
tools==4.2.2
tseries==0.10-52
tzdb==0.3.0
usdata==0.2.0
utils==4.2.2
vctrs==0.5.0
vroom==1.6.0
xfun==0.34
xlsxjars==0.6.1
xml2==1.3.3
xts==0.12.2
zoo==1.8-11
